{% extends 'navbar.html' %}
{% load static %}
{% block body %}
  <div class="container mx-auto">
    
      <div class=" relative mt-10 md:space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
        {% for category in categories %}
        <span class="group relative">
            <div class="relative h-56 md:h-64 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 ">
              <img class="w-full" src="{{category.image.url}}" alt="{{ category.name }}">
            </div>
            <h3 class="mt-0 mb-9 ml-2 text-2xl md:mb-auto md:ml-0 md:p-4 md:pl-0 font-bold">
                <span class="absolute inset-0"></span>
            {{category.name}}
            </h3>
          </span>
          {% endfor %}
      </div>
  </div>
{% endblock %}